################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gau.7z
/sc.7z
/sc_pt2.7z
/sgl.7z
/tpatw.7z
/.vs/ffnbuild.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/ffnbuild.slnx/FileContentIndex/2659b532-1b0d-4299-98d6-9baece069216.vsidx
/.vs/ffnbuild.slnx/FileContentIndex/3366d44b-c524-4039-b29b-045652cd4f96.vsidx
/.vs/ffnbuild.slnx/FileContentIndex/5b1a9050-cdb2-40c4-aeda-731659e60a0e.vsidx
/.vs/ffnbuild.slnx/FileContentIndex/6087f62c-4290-44a8-a581-42bd85f8f4e0.vsidx
/.vs/ffnbuild.slnx/FileContentIndex/831d880b-1c20-4055-b545-68307d46277b.vsidx
/.vs/ffnbuild.slnx/FileContentIndex/8e9a6c68-9799-4f2e-adc9-96db3edde30a.vsidx
/.vs/ffnbuild.slnx/FileContentIndex/b38e7613-1f20-4347-9afe-3f22e6043fde.vsidx
/.vs/ffnbuild.slnx/FileContentIndex/f8b0ee96-2acb-4fee-9bb6-ca0b8b37e2e9.vsidx
/.vs/ffnbuild.slnx/FileContentIndex/2c95fbda-0578-4187-8981-912b2e60fbb6.vsidx
/.vs/ffnbuild.slnx/FileContentIndex/66cbd87d-125d-4cde-9a7b-7f1f49f813df.vsidx
/.vs/ffnbuild.slnx/FileContentIndex/bdd6a7b2-38ca-4a76-8f46-297bd18279fd.vsidx
/.vs/ffnbuild.slnx/FileContentIndex/c50deedc-4944-4969-bafb-984111a9ed44.vsidx
/.vs/ffnbuild.slnx/FileContentIndex/dce5b522-9cb1-4cfd-98b9-5dca64b53b58.vsidx
/.vs/ffnbuild.slnx/v18/.futdcache.v2
/.vs/ffnbuild/CopilotIndices/18.0.934.24903/CodeChunks.db
/.vs/ffnbuild/CopilotIndices/18.0.934.24903/CodeChunks.db-shm
/.vs/ffnbuild/CopilotIndices/18.0.934.24903/CodeChunks.db-wal
/.vs/ffnbuild/CopilotIndices/18.0.934.24903/SemanticSymbols.db
/.vs/ffnbuild/CopilotIndices/18.0.934.24903/SemanticSymbols.db-shm
/.vs/ffnbuild/CopilotIndices/18.0.934.24903/SemanticSymbols.db-wal
/.vs/ffnbuild.slnx/v18/DocumentLayout.backup.json
/.vs/ffnbuild.slnx/v18/DocumentLayout.json
/.vs/ffnbuild.slnx/v18/TestStore/0/001.testlog
/.vs/ffnbuild.slnx/v18/TestStore/0/testlog.manifest
/.vs/ProjectEvaluation/ffnbuild.metadata.v10.bin
/.vs/ProjectEvaluation/ffnbuild.projects.v10.bin
/.vs/ProjectEvaluation/ffnbuild.strings.v10.bin
/ffnbuild.Tests/bin/Debug/net10.0/.msCoverageSourceRootsMapping_ffnbuild.Tests
/ffnbuild.Tests/bin/Debug/net10.0/cs/Microsoft.Testing.Extensions.MSBuild.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/cs/Microsoft.Testing.Extensions.Telemetry.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/cs/Microsoft.Testing.Platform.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/de/Microsoft.Testing.Extensions.MSBuild.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/de/Microsoft.Testing.Extensions.Telemetry.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/de/Microsoft.Testing.Platform.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/de/Spectre.Console.Cli.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/es/Microsoft.Testing.Extensions.MSBuild.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/es/Microsoft.Testing.Extensions.Telemetry.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/es/Microsoft.Testing.Platform.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/es/Spectre.Console.Cli.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/fr/Microsoft.Testing.Extensions.MSBuild.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/fr/Microsoft.Testing.Extensions.Telemetry.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/fr/Microsoft.Testing.Platform.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/fr/Spectre.Console.Cli.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/HtmlAgilityPack.dll
/ffnbuild.Tests/bin/Debug/net10.0/it/Microsoft.Testing.Extensions.MSBuild.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/it/Microsoft.Testing.Extensions.Telemetry.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/it/Microsoft.Testing.Platform.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/it/Spectre.Console.Cli.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ja/Microsoft.Testing.Extensions.MSBuild.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ja/Microsoft.Testing.Extensions.Telemetry.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ja/Microsoft.Testing.Platform.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ja/Spectre.Console.Cli.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ko/Microsoft.Testing.Extensions.MSBuild.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ko/Microsoft.Testing.Extensions.Telemetry.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ko/Microsoft.Testing.Platform.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ko/Spectre.Console.Cli.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202001122523.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202001123398.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202001214887.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202001215538.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202001346390.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202001347039.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202001437133.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202001437793.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202001515500.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202001717937.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202001718532.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202001728170.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202002125062.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202002125853.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202002244167.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202002244714.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202002303410.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202002304484.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202002534675.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202002535286.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202002548835.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202002549549.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202002653376.diag
/ffnbuild.Tests/bin/Debug/net10.0/Log/log_251202002653970.diag
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.ApplicationInsights.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.Bcl.AsyncInterfaces.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.Extensions.DependencyInjection.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.Extensions.Logging.Abstractions.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.Extensions.Logging.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.Extensions.Options.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.Extensions.Primitives.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.Testing.Extensions.MSBuild.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.Testing.Extensions.Telemetry.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.Testing.Extensions.TrxReport.Abstractions.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.Testing.Platform.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.TestPlatform.CoreUtilities.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.TestPlatform.Utilities.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/ffnbuild.Tests/bin/Debug/net10.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/ffnbuild.Tests/bin/Debug/net10.0/Newtonsoft.Json.dll
/ffnbuild.Tests/bin/Debug/net10.0/pl/Microsoft.Testing.Extensions.MSBuild.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/pl/Microsoft.Testing.Extensions.Telemetry.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/pl/Microsoft.Testing.Platform.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/pt/Spectre.Console.Cli.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/pt-BR/Microsoft.Testing.Extensions.MSBuild.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/pt-BR/Microsoft.Testing.Extensions.Telemetry.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/pt-BR/Microsoft.Testing.Platform.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ru/Microsoft.Testing.Extensions.MSBuild.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ru/Microsoft.Testing.Extensions.Telemetry.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ru/Microsoft.Testing.Platform.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/ru/Spectre.Console.Cli.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/Spectre.Console.Cli.dll
/ffnbuild.Tests/bin/Debug/net10.0/Spectre.Console.dll
/ffnbuild.Tests/bin/Debug/net10.0/Spectre.Console.Testing.dll
/ffnbuild.Tests/bin/Debug/net10.0/sv/Spectre.Console.Cli.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/testhost.dll
/ffnbuild.Tests/bin/Debug/net10.0/testhost.exe
/ffnbuild.Tests/bin/Debug/net10.0/tr/Microsoft.Testing.Extensions.MSBuild.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/tr/Microsoft.Testing.Extensions.Telemetry.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/tr/Microsoft.Testing.Platform.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/xunit.abstractions.dll
/ffnbuild.Tests/bin/Debug/net10.0/xunit.runner.json
/ffnbuild.Tests/bin/Debug/net10.0/xunit.runner.visualstudio.testadapter.dll
/ffnbuild.Tests/bin/Debug/net10.0/xunit.v3.assert.dll
/ffnbuild.Tests/bin/Debug/net10.0/xunit.v3.common.dll
/ffnbuild.Tests/bin/Debug/net10.0/xunit.v3.core.dll
/ffnbuild.Tests/bin/Debug/net10.0/xunit.v3.mtp-v1.dll
/ffnbuild.Tests/bin/Debug/net10.0/xunit.v3.runner.common.dll
/ffnbuild.Tests/bin/Debug/net10.0/xunit.v3.runner.inproc.console.dll
/ffnbuild.Tests/bin/Debug/net10.0/xunit.v3.runner.utility.netcore.dll
/ffnbuild.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.Testing.Extensions.MSBuild.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.Testing.Extensions.Telemetry.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.Testing.Platform.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/zh-Hans/Spectre.Console.Cli.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.Testing.Extensions.MSBuild.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.Testing.Extensions.Telemetry.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.Testing.Platform.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ffnbuild.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
